/* ==========================================================================
*  Sinatra Meta Box Styles.
*  ========================================================================== */
#side-sortables .sinatra-meta-box-field {
  margin: 15px 0;
}

#side-sortables .sinatra-meta-box-field select {
  min-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#side-sortables .sinatra-meta-box-field:last-child {
  margin-bottom: 0;
}

#side-sortables .sinatra-checkbox-row {
  margin-top: 4px;
}

#side-sortables .sinatra-checkbox-row .si-checkbox-wrapper .si-checked-icon {
  display: none;
  width: 21px;
  height: 21px;
  left: -3px;
  fill: #FFF;
}

#side-sortables .sinatra-checkbox-row input[type='checkbox'] {
  border: 2px solid #6c7781;
  margin-right: 12px;
  border-radius: 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#side-sortables .sinatra-checkbox-row input[type='checkbox']:checked {
  background: #11a0d2;
  border-color: #11a0d2;
}

#side-sortables .sinatra-checkbox-row input[type='checkbox']:checked + .si-checked-icon {
  display: block;
}
