/*
Gutenberg Styles
*/

@font-face {
	font-family: 'jost';
	font-display: auto;
	src: url(fonts/jost/Jost-Light/Jost-300-Light.woff2) format("woff2"), url(css/fonts/jost/Jost-Light/Jost-300-Light.woff) format("woff");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'jost';
	font-display: auto;
	src: url(fonts/jost/Jost-Book/Jost-400-Book.woff2) format("woff2"), url(css/fonts/jost/Jost-Book/Jost-400-Book.woff) format("woff");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'jost';
	font-display: auto;
	src: url(fonts/jost/Jost-Medium/Jost-500-Medium.woff2) format("woff2"), url(css/fonts/jost/Jost-Medium/Jost-500-Medium.woff) format("woff");
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: 'jost';
	font-display: auto;
	src: url(fonts/jost/Jost-Semi/Jost-600-Semi.woff2) format("woff2"), url(css/fonts/jost/Jost-Semi/Jost-600-Semi.woff) format("woff");
	font-weight: 600;
	font-style: normal
}

@font-face {
	font-family: 'jost';
	font-display: auto;
	src: url(fonts/jost/Jost-Bold/Jost-700-Bold.woff2) format("woff2"), url(css/fonts/jost/Jost-Bold/Jost-700-Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal
}

/* Main column width */
body.block-editor-page .editor-post-title__block,
body.block-editor-page .editor-default-block-appender,
body.block-editor-page .editor-block-list__block {
    max-width: 710px;
}

/* Width of "wide" blocks */
body.block-editor-page .editor-block-list__block[data-align="wide"] {
    max-width: 1080px;
}

/* Width of "full-wide" blocks */
body.block-editor-page .editor-block-list__block[data-align="full"] {
    max-width: none;
}

body.block-editor-page .edit-post-visual-editor,
body.block-editor-page .edit-post-visual-editor p {
	font-family: "jost", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.7;
	letter-spacing: 0.4px;
}

body.block-editor-page .editor-block-list__block,
body.block-editor-page .editor-post-title__block .editor-post-title__input {
    font-family: "jost", sans-serif;
}
body.block-editor-page .editor-post-title__block .editor-post-title__input {
	color: #000;
	font-weight: 300;
	font-size: 44px;
	letter-spacing: 1px;
	line-height: 1.05;
}

body.block-editor-page .edit-post-visual-editor h1,
body.block-editor-page .edit-post-visual-editor h2,
body.block-editor-page .edit-post-visual-editor h3,
body.block-editor-page .edit-post-visual-editor h4,
body.block-editor-page .edit-post-visual-editor h5,
body.block-editor-page .edit-post-visual-editor h6 {
    color: #000;
    font-weight: 300;
    letter-spacing: 0;
}

body.block-editor-page .edit-post-visual-editor h1,
body.block-editor-page .edit-post-visual-editor .entry-content h1 {
    font-size: 46px;
    line-height: 1.1;
    letter-spacing: 0;
}
body.block-editor-page .edit-post-visual-editor h2,
body.block-editor-page .edit-post-visual-editor .entry-content h2 {
    font-size: 42px;
    line-height: 1.1;
    letter-spacing: 0;
}
body.block-editor-page .edit-post-visual-editor h3,
body.block-editor-page .edit-post-visual-editor .entry-content h3 {
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: 0;
}
body.block-editor-page .edit-post-visual-editor h4,
body.block-editor-page .edit-post-visual-editor .entry-content h4 {
    font-size: 28px;
    line-height: 1.1;
    letter-spacing: 0;
}
body.block-editor-page .edit-post-visual-editor h5,
body.block-editor-page .edit-post-visual-editor .entry-content h5 {
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;

}
body.block-editor-page .edit-post-visual-editor h6,
body.block-editor-page .edit-post-visual-editor .entry-content h6 {
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;

}

body.block-editor-page .edit-post-visual-editor .wp-block-button .wp-block-button__link {
    font-size: 12px;
    font-weight: 600;
}
body.block-editor-page .edit-post-visual-editor .wp-block-button {
    margin-bottom: 14px;
}
body.block-editor-page .edit-post-visual-editor .wp-block-button .wp-block-button__link {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    border-radius: 3px;
    text-align: center;
    outline: none;
    position: relative;
    z-index: 1;
    overflow: visible;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 150px;
    text-transform: uppercase;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    padding: 11px 24px;
	letter-spacing: 2px;
	font-size: 12px;
	line-height: 24px;
    -ms-transition: transform .80s cubic-bezier(0.20, 1, 0.30, 1), color .80s cubic-bezier(0.20, 1, 0.30, 1), background-color .80s cubic-bezier(0.20, 1, 0.30, 1), box-shadow .80s cubic-bezier(0.20, 1, 0.30, 1);
    -webkit-transition: transform .80s cubic-bezier(0.20, 1, 0.30, 1), color .80s cubic-bezier(0.20, 1, 0.30, 1), background-color .80s cubic-bezier(0.20, 1, 0.30, 1), box-shadow .80s cubic-bezier(0.20, 1, 0.30, 1);
    transition: transform .80s cubic-bezier(0.20, 1, 0.30, 1), color .80s cubic-bezier(0.20, 1, 0.30, 1), background-color .80s cubic-bezier(0.20, 1, 0.30, 1), box-shadow .80s cubic-bezier(0.20, 1, 0.30, 1);
}
body.block-editor-page .edit-post-visual-editor .wp-block-button .wp-block-button__link:hover {
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
}