/* Display */
body {
	font: 300 14px/1.5 "Open Sans", Helvetica, Arial, sans-serif;
}
/* **********************
Font Associates
*********************** */
.entry-title-subheading,
.worktype-categories,
.boxtitle-worktype,
.sidebar-widget,
.slideshow-box-categories,
#password-protected p,
.button-blog-continue,
.readmore-service,
.post-password-form p,
.fullscreen-carousel .swiper-desc,
.fullscreen-swiperslides .swiper-desc,
.event-heading,
.entry-content .pullquote-right,
.entry-content .pullquote-left,
.entry-content .pullquote-center,
.entry-title-wrap h1,
h2.project-heading,
.footer-end-block h2.section-title,
.skill-bar-percent,
.gridblock-parallax-wrap h4.slideshow-box-title,
.positionaware-button,
.responsive-titles h3,
.photowall-title,
.proofing-client-title,
.comment-reply-title,
.hero-text-wrap .hero-title,
.slideshow_title,
h1.slideshow_title,
.static_slideshow_title,
.coverphoto-text-container .slideshow_title,
.coverphoto-text-container .static_slideshow_title,
.gridblock-grid-element .boxtitle-hover a,
.mtheme-lightbox .lg-sub-html,
.shortcode-box-title,
ul.vertical_images .vertical-images-title,
.dimmer-text,
.mtheme-404-wrap .mtheme-404-error-message1,
.imagebox-title,
.site-maintenance-text,
h1.entry-title,
.entry-content h3.progressbar-title,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
h2.section-title,
#gridblock-filters,
.quote_say,
.quote_author,
.blog-timeline-month,
.jp-title,
.gridblock-parallax-wrap .slideshow-box-categories,
.time-count-data,
.client-say,
.pricing-table,
.project-info ul li,
.slideshow-owl-title,
.hero-text-wrap,
#header-searchform #hs,
.vertical-menu,
.wpcf7-form p,
.toggle-menu-list li a,
.blog-details-section-inner,
.minimal-menu,
.simple-menu,
.page-link,
.pricing-wrap,
.pricing-table .pricing-row,
.search-instructions,
.phototag-archive-list,
.album-item-count,
.pagination,
.slideshow-box-title,
.mtheme-events-heading,
.site-maintenance-text,
.no-comments,
.swiper-title-bright,
.shortcode-swiper-container .swiper-title,
.fullscreen-carousel .swiper-title,
.fullscreen-swiperslides .swiper-title,
.twentytwenty-before-label:before,
.twentytwenty-after-label:before,
.horizontal-bottom-bar,
.donutcounter-value,
.work-details h4 a,
.entry-content .pullquote-right,
.entry-content .pullquote-left,
.entry-content .pullquote-center,
.woocommerce .related h2,
.woocommerce .upsells h2,
.woocommerce .cross-sells h2,
#footer .sidebar-widget .widget > h3,
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce-page h1.entry-title,
.homemenu .sf-menu .mega-item .children-depth-0 h6,
.person h4.staff-position,
.blog-grid-element-content .work-details h4 a,
.proofing-restricted,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce .woocommerce-breadcrumb,
.entry-content .work-details h4,
.mtheme-lightbox .lg-sub-html h4,
.vertical-menu ul.mtree a,
.simple-menu ul.mtree a,
.header-is-simple .responsive-mobile-menu ul.mtree a,
.entry-content h3.food-item-title,
.food-list .food-purchase-item a,
.food-purchase-item,
.footer-fullscreen-wrap,
h3.food-item-title,
.dashboard-inner h3 {
	font-family: "Averia Sans Libre", sans-serif;
}

#contact .button,
#commentform input#submit,
.text-is-bright .woocommerce form .form-row label,
.woocommerce-page .text-is-bright form .form-row label,
.woocommerce form .form-row label,
.woocommerce-page form .form-row label,
.woocommerce #respond input#submit.alt,
.woocommerce .coupon button.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce input.button,
.woocommerce .shipping-calculator-form button,
.woocommerce .woocommerce-message a.button,
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text,
.pricing-table .pricing-duration,
.quote_author,
.food-list .food-purchase-item a,
#footer .opening-hours dd,
.opening-hours dt.week,
.sidebar-widget .mc4wp-form input,
.gridblock-element .food-purchase-item a,
.gridblock-element .food-notice,
.mtheme-opentable-form .otw-submit-btn,
.wpcf7-form input[type="button"],
.wpcf7-form input[type="submit"],
.wpcf7-form input[type="reset"],
#password-protected input[type="submit"],
.post-password-form input[type="submit"],
.project-details-link h4 a,
.mtheme-button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #content div.product form.cart .button,
.woocommerce div.product form.cart .button,
.woocommerce-page #content div.product form.cart .button,
.woocommerce-page div.product form.cart .button,
.entry-content .wp-block-button .wp-block-button__link,
ol.commentlist li.pingback .reply a,
ol.commentlist li.comment .reply a,
.theme-btn {
	font-family: "Averia Sans Libre", sans-serif;
}

.comment-reply-title small a,
.entry-content .pricing-service p,
.responsive-mobile-menu,
.cart-elements,
.cart-content-checkout,
.woocommerce .button,
.mtheme-woo-order-selected,
.woocommerce-result-count,
.mtheme-404-wrap h4,
.summary-info,
.postsummarywrap,
.postsummarywrap a,
.fotorama__caption__wrap,
.post-single-tags,
.post-single-tags a,
.entry-content .notice-text,
#gridblock-filters li a,
.comment-meta,
.mtheme-lightbox .lg-sub-html,
.entry-content h3.reservation-subheading,
.client-company,
.client-name,
.person .person-details h3,
.timeline-list-event > h3,
.portfolio-section-heading h2,
.service-content h4,
.service-content h4 a,
.work-details h4,
.woocommerce-page h1,
.woocommerce-page h2,
.woocommerce-page h3,
.woocommerce-page h4,
.woocommerce-page h5,
.woocommerce-page h6,
.fullscreen-fotorama .fotorama__caption__wrap h2,
.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3,
#copyright,
.sidebar-widget h3,
.callout h5,
.entry-content .callout h5,
.section-heading h5,
.entry-content .section-heading h5,
.multi-headlines-wrap h5,
.entry-content .multi-headlines-wrap h5,
.entry-content .multi-headlines-wrap {
	font-family: "Averia Sans Libre", sans-serif;
}

input,
textarea,
label,
button,
.entry-content .wp-block-button .wp-block-button__link,
.hero-text-wrap .hero-subtitle,
.entry-content .photocard-wrap-common .heading-block h3.photocard-subtitle,
.callout h5,
.entry-content .callout h5,
.section-heading h5,
.entry-content .section-heading h5,
h2.entry-sub-title,
.entry-content .photocard-subtitle,
.entry-content h2.entry-sub-title,
#password-protected input,
.post-password-form input,
#password-protected label,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.mtheme-button,
.cart-buttons,
.entry-content h3.ui-accordion-header,
.button-blog-continue a,
.readmore-service a,
.project-details-link h4 a {
	font-family: "Averia Sans Libre", sans-serif;
}

.homemenu .sf-menu .megamenu-textbox,
.homemenu .sf-menu a,
.homemenu .sf-menu .mega-item .children-depth-0 h6,
.homemenu,
.homemenu .sf-menu ul li a,
.minimal-menu ul.mtree > li > a,
.vertical-menu ul.mtree > li > a,
.simple-menu ul.mtree > li > a,
.responsive-mobile-menu ul.mtree > li > a,
.food-notice,
.entry-content .photocard-wrap-common .heading-block h3.photocard-subtitle,
.hero-text-wrap .hero-subtitle,
.entry-content .section-heading h5 {
	font-family: "Averia Sans Libre", sans-serif;
}


.responsive-menu-wrap .wpml-lang-selector-wrap,
.homemenu .wpml-lang-selector-wrap,
.homemenu .wpml-lang-selector-wrap a,
.homemenu ul li a {
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}
.homemenu ul ul li a {
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.6px;
	text-transform: uppercase;
}
.homemenu li.current-menu-item > a, .homemenu li.current-menu-item > li > a {
	font-weight: 500;
}
.homemenu .sf-menu .mega-item .children-depth-0 h6 {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1.3px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content h3.progressbar-title,
.entry-content .flipbox-card-flip h2,
.entry-content .service-content h4 {
	font-weight: 500;
}

.entry-content .section-title,
.entry-content .entry-title,
.entry-title {
	font-size: 52px;
	font-weight: 500;
	letter-spacing: -1.2px;
	line-height: 1.05;
}

#contact .button,
#commentform input#submit,
.text-is-bright .woocommerce form .form-row label,
.woocommerce-page .text-is-bright form .form-row label,
.woocommerce form .form-row label,
.woocommerce-page form .form-row label,
.woocommerce #respond input#submit.alt,
.woocommerce .coupon button.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce input.button,
.woocommerce .shipping-calculator-form button,
.woocommerce .woocommerce-message a.button,
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text,
.pricing-table .pricing-duration,
.quote_author,
.food-list .food-purchase-item a,
#footer .opening-hours dd,
.opening-hours dt.week,
.sidebar-widget .mc4wp-form input,
.gridblock-element .food-purchase-item a,
.gridblock-element .food-notice,
.mtheme-opentable-form .otw-submit-btn,
.wpcf7-form input[type="button"],
.wpcf7-form input[type="submit"],
.wpcf7-form input[type="reset"],
#password-protected input[type="submit"],
.post-password-form input[type="submit"],
.project-details-link h4 a,
.mtheme-button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #content div.product form.cart .button,
.woocommerce div.product form.cart .button,
.woocommerce-page #content div.product form.cart .button,
.woocommerce-page div.product form.cart .button,
.entry-content .wp-block-button .wp-block-button__link,
ol.commentlist li.pingback .reply a,
ol.commentlist li.comment .reply a {
	font-size: 17px;
	font-weight: 500;
}

.entry-content .service-details,
.mtheme-lightbox .lg-sub-html h4,
.woocommerce ul.order_details li strong,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce .cart-collaterals .cart_totals tr td,
.woocommerce .cart-collaterals .cart_totals tr th,
.woocommerce-page .cart-collaterals .cart_totals tr td,
.woocommerce-page .cart-collaterals .cart_totals tr th,
.woocommerce .shop_table th.product-name,
.woocommerce .shop_table th.product-price,
.woocommerce .shop_table th.product-quantity,
.woocommerce .shop_table th.product-total,
.woocommerce .shop_table th.product-subtotal,
.woocommerce-product-rating .woocommerce-review-link,
.mtheme-woo-order-selected,
.woocommerce-result-count,
.imagebox-title,
.pricing-service p,
.entry-content .pricing-service,
.entry-content .pricing-service p,
.entry-content .wp-accordion h3.ui-accordion-header a,
.entry-content .ui-accordion-header.ui-state-default a,
.entry-content .food-tabs-outer h3.food-item-title,
.food-tabs-outer h3.food-item-title,
#footer .opening-block h3,
.slideshow-owl-title,
.boxtitle-hover,
.entry-content .boxtitle-hover h3,
.section-description,
.entry-title-subheading,
.entry-content,
.flipbox-card-flip p,
.hero-text-wrap .multi-headlines-wrap {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.7;
	letter-spacing: 0;
}



.blog-list-style-small .entry-content .entry-post-title h2 {
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: -1px;
	font-weight: 700;
}
